<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top"  style="color: white">

  <a class="navbar-brand mr-1">TEST FRONTEND ANGULAR FOR BEYE</a>

</nav>


<div class="container" style="margin-top: 5rem">

    <router-outlet></router-outlet>

</div>
