<div class="card-header">
  <i class="fa fa-table"></i> List brands
</div>
<div class="card-body">
  <table class="table table-hover" [mfData]="listeProducts | dataFilterProducts: filterQueryProducts" #mfProducts="mfDataTable" [mfRowsOnPage]="rowsOnPageProducts" [(mfSortBy)]="sortByProducts" [(mfSortOrder)]="sortOrderProducts">
    <thead>
    <tr>
      <th>#</th>
      <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
      <th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
      <th><mfDefaultSorter by="brandname">Brand</mfDefaultSorter></th>
      <th>Action</th>
    </tr>
    <tr>
      <th>
        Search:
      </th>
      <th colspan="2" >
        <input id="rechercheProducts" class="form-control" placeholder="Recherche"  placeholder="Recherche" [(ngModel)]="filterQueryProducts"/>
      </th>
      <th colspan="2" class="text-right">
        <button type="button" class="btn btn-success btn-circle btn-sm" (click)="openModalNewProduct(modalNewProduct)" title="add product"><i class="fa fa-plus-circle"></i> Product</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mfProducts.data; let i = index ">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.brandname}}</td>
      <td class="custom-control-inline">
        <button type="button" class="btn btn-primary btn-circle btn-sm" (click)="openModal(modalDetailProduct,item)" title="view"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-warning btn-circle btn-sm" (click)="openModal(modalEditProduct,item)" title="edit"><i class="fa fa-edit"></i></button>
        <button type="button" (click)="deleteProducts(item)" class="btn btn-danger btn-circle btn-sm" title="delete"><i class="fa fa-times"></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr class="text-center center-block">
        <td colspan="5" class="text-center center-block">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #modalNewProduct let-c="close" let-d="dismiss">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New product</h5>
      <hr>
      <div class="form-group row">
        <label for="newProductName" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" [(ngModel)]="newNameProduct" class="form-control" id="newProductName" placeholder="Enter name">
        </div>
      </div>
      <div class="form-group row">
        <label for="newDescriptionProduct" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea rows="3" [(ngModel)]="newDescriptionProduct" class="form-control" id="newDescriptionProduct" placeholder="Enter description"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="newBrandIdProduct" class="col-sm-3 col-form-label">Brand</label>
        <div class="col-sm-9">
          <select class="form-control" id="newBrandIdProduct" [(ngModel)]="newBrandIdProduct">
            <option value="0" selected>Veuillez choisir</option>
            <option *ngFor="let item of listBrands; let i = index;" value="{{item.id}}">{{item.name}}</option>
          </select>
        </div>
      </div>
      <button (click)="addproduct()" [disabled]="!newNameProduct || !newBrandIdProduct || !newDescriptionProduct || newBrandIdProduct=='0'" class="btn btn-outline-primary my-2 my-sm-0" title="add new product">Add</button>
    </div>
  </div>
</ng-template>

<ng-template #modalDetailProduct let-c="close" let-d="dismiss">
  Detail Product
</ng-template>

<ng-template #modalEditProduct let-c="close" let-d="dismiss">
  Edit Product
</ng-template>
